 <h2>Busquedas</h2>
        <hr>
        <ul class="list-group">
            <li 
            routerLink=""
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact : true}"
            class="list-group-item"
            >Buscar Pais
        </li>
            <li 
            routerLink="region"
            routerLinkActive="active"
            class="list-group-item"
            >por Region</li>
            <li 
            routerLink="capital"
            routerLinkActive="active"
            class="list-group-item"
            >por Capital</li>
            <li 
            routerLink="ejemplo"
            routerLinkActive="active"
            class="list-group-item"
            >ver ejemplo</li>
       
        </ul>